<div>
  <b>Complete Register</b>
</div>
<form>
  <app-input-container label="Sexo" errorMessage="Campo obrigatório">
    <input type="text" name="Sexo" ngModel class="form-control" placeholder="Sexo" required>
    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
  </app-input-container>
  <app-input-container label="Telefone" errorMessage="Campo obrigatório">
    <input type="text" name="Phone" ngModel class="form-control" placeholder="Telefone" required>
    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
  </app-input-container>
  <app-input-container label="Nome" errorMessage="Campo obrigatório">
    <input type="text" name="Name" ngModel class="form-control" placeholder="Nome" required>
    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
  </app-input-container>
  <app-input-container label="Data de Nascimento" errorMessage="Campo obrigatório">
    <input type="text" name="DtNascimento" ngModel class="form-control" placeholder="Data de Nascimento"
      required>
    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
  </app-input-container>
</form>