<div>
  <b>Documentos</b>
</div>
<form>
  <app-input-container label="Número documento" errorMessage="Campo obrigatório">
    <input type="text" name="NumeroDocumento" ngModel class="form-control" placeholder="Número documento" required>
    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
  </app-input-container>
  <app-input-container label="Tipo de documento" errorMessage="Campo obrigatório">
    <input type="text" name="TipoDocumento" ngModel class="form-control" placeholder="Tipo de documento" required>
    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
  </app-input-container>
</form>